{% set title = page.title ~ ' &middot; ' ~ site.title %}
{% if page.type == 'homepage' %}
{% set title = site.title ~ ' &middot; ' ~ site.baseline %}
{% endif %}
<!DOCTYPE html>
<html lang="{{ site.language|default('en') }}">
  <head>
{% block head %}
    {% include 'partials/html-header.html.twig' %}
{% endblock head %}
  </head>
  <body class="no-js" data-template="base.twig">
    <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
    {% block header %}
        {% include 'partials/header.html.twig' %}
    {% endblock %}
    <main id="content" role="main" class="content-wrapper">

    {% block content %}
        <article>
            {% block title %}
                <h1>{{ page.title }}</h1>
            {% endblock title %}

            {{ page.content }}
        </article>
    {% endblock content %}
    </main>
  </body>
</html>
