.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;

    &:focus {
        background-color: $body-bg;
        clip: auto !important;
        clip-path: none;
        color: $text-color;
        display: block;
        font-size: $normal;
        height: auto;
        left: $small;
        line-height: normal;
        padding: $normal;
        text-decoration: none;
        top: $small;
        width: auto;
        z-index: 100000; /* Above WP toolbar. */
    }
}
